* {
  margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(23, 41, 56);
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50vw;
    max-width: 600px;
    min-height: 350px;
    background-color: white;
    border-radius: 50px;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label ,
p {
    margin: 20px;
}