.card {
  margin-top: 34px;
  backdrop-filter: blur(12.5px);
  padding: 25px;
  margin: 0;
  .card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-white);
    margin-top: 8px;
    margin-bottom: 18px;
    @media (min-width: 768px) {
      font-size: 31px;
    }
  }
  .card__paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--color-white);
    margin-top: 0;
    margin-bottom: 33px;
  }
  .card__button {
    margin-bottom: 8px;
  }
}
