.card-deck {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  padding: 0;
  border: 1px solid var(--color-Slate-Gray);
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-right: none;
    border-bottom: none;

  }

  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-deck .card:nth-child(2) {
  border-bottom: 1px solid var(--color-Slate-Gray);
  border-top: 1px solid var(--color-Slate-Gray);
  @media (min-width: 768px) {
    border-top: none;
  }
}

.card-deck .card:nth-child(3) {
  border-bottom: 1px solid var(--color-Slate-Gray);
  border-top: 10px solid var(--color-Slate-Gray);
}