.container--major {
  margin: 0 auto;
  padding: 0 16px;
}

.cmp-card {
}

.cmp-product-list {
  color: black;
}

.cmp-product-list__title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 54px;
}

.cmp-product-list__heading {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.cmp-card-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-right: -16px;
  scrollbar-width: none;
  padding-top: 35px;
  gap: 16px;
}

.cmp-card__media {
  background-color: darkgray;
  flex-shrink: 0;
  aspect-ratio: 0.99;
  overflow: hidden;
  border-radius: 13.42px;
  background-color: #f5f5f5;
  flex-shrink: 0;
  min-width: 198px;
  max-width: 295px;
  min-height: 200px;
  max-height: 298px;
  flex-grow: 1;
}

.cmp-card__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.cmp-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cmp-card__name {
  all: unset;
  color: inherit;
  cursor: pointer;
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  padding-top: 10px;
}

:root {
  --star-size: 20px;
  --star-color: #d0d6e0;
  --star-active: #ffb400;
}

.cmp-stars {
  padding-top: 4px;
  width: 19px;
  height: 19px;
  --rating: 0;

  font-size: var(--star-size);
  line-height: 1;
  display: inline-block;
  background: linear-gradient(
    90deg,
    var(--star-active) calc(var(--rating) / 5 * 100%),
    var(--star-color) calc(var(--rating) / 5 * 100%)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cmp-card-price {
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  margin: 0;
  padding-top: 4px;
}
