.container--major {
  margin: 0 auto;
  padding: 0 16px;
}

.cmp-card {
}

.cmp-product-list {
  color: black;
}

.cmp-product-list__title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 54px;
}

.cmp-product-list__heading {
  font-family: "Integral CF";
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  margin: 0;
}

.cmp-card-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-right: -16px;
  scrollbar-width: none;
  padding-top: 35px;
  gap: 16px;
}

.cmp-card__media {
  background-color: darkgray;
  flex-shrink: 0;
  aspect-ratio: 0.99;
  overflow: hidden;
  border-radius: 13.42px;
  background-color: #f5f5f5;
  flex-shrink: 0;
  min-width: 198px;
  max-width: 295px;
  min-height: 200px;
  max-height: 298px;
  flex-grow: 1;
}

.cmp-card__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.cmp-card__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cmp-card__name {
  all: unset;
  color: inherit;
  cursor: pointer;
  font-family: "Satoshi";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;
  padding-top: 10px;
}

.cmp-stars {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: calc(16px * 5);
  height: 16px;
  background: url("../images/icons/Star\ 2.svg") repeat-x;
  background-size: 16px 16px;
  fill &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url("../images/icons/Star.svg") repeat-x;
    background-size: 16px 16px;
    width: calc(var(--rating) * 20%);
  }

  &::after {
    position: absolute;
    content: attr(data-rating) "/5";
    font-size: 1rem;
    font-weight: 500;
    left: 60%;
    color: #000;
  }
}
