.collage {
  display: flex;
  align-self: flex-start;
  &.collage--intro {
    .collage__img__square {
      order: 1;
    }
    .collage__img__rectangular {
      order: 2; 
    }
  }

  .collage__img {
    object-fit: cover;
    flex-shrink: 0;
  }
  .collage__img__rectangular {
    margin-top: 13%;
    margin-bottom: 10%;
    align-self: center;
    width: 62%;
    aspect-ratio: 0.67;
    @media (min-width: 768px) {
      margin-top: 26%;
    }
    @media (min-width: 1024px) {
      margin-top: 16%;
    }
    @media (min-width: 1288px) {
      margin-top: 10%;
    }
    .collage--intro & {
      margin-left: -18px;
      margin-top: 32px;
      width: 60%;
      aspect-ratio: 0.666;
    }
  }

  .collage__img__square {
    margin-left: -8%;
    aspect-ratio: 1.04;
    align-self: end;
    width: 46%;
    .collage--intro & {
      width: 45%;
      margin-left: 3px;
      aspect-ratio: 1.07;
    }
  }
}
