.collage {
  display: flex;
  align-self: flex-start;
  &.collage--intro {
    justify-content: space-evenly;
    .collage__img__square {
      order: 1;
    }
    .collage__img__rectangular {
      order: 2; 
    }
  }

  .collage__img {
    object-fit: cover;
    flex-shrink: 0;
  }
  .collage__img__rectangular {
    margin-top: 13%;
    margin-bottom: 10%;
    align-self: center;
    width: 62%;
    aspect-ratio: 0.67;
    border-radius: 4px;
    @media (min-width: 768px) {
      margin-top: 26%;
    }
    @media (min-width: 1024px) {
      margin-top: 16%;
    }
    @media (min-width: 1288px) {
      margin-top: 10%;
    }
    .collage--intro & {
      width: 60%;
      margin-left: -22px;
      margin-top: 32px;
      margin-bottom: 40px;
      z-index: -1;
      @media (min-width: 768px) {
        width: 50%;
        margin-top: 70px;
        margin-left: -45px;
      }

      @media (min-width: 1024px) {
        width: 53%;
        margin-top: 29px;
        margin-left: -53px;
        margin-bottom: 61px;
      }

      @media (min-width: 1228px) {
        width: 51%;
        margin-left: -59px;
        margin-bottom: 57px;
      }
    }
  }

  .collage__img__square {
    margin-left: -8%;
    aspect-ratio: 1.04;
    align-self: end;
    width: 46%;
    border-radius: 4px;
    .collage--intro & {
      margin-left: 3px;
      @media (min-width: 768px) {
        width: 40%;
        margin-left: 10px;
      }

      @media (min-width: 1024px) {
        width: 41%;
        margin-left: 18px;
      }
      
      @media (min-width: 1228px) {
        width: 38%;
        margin-left: 72px;
      }
    }
  }
}
