.component {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "headline"
    "collage";
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: center; 
    align-content: space-between;
    grid-template-areas: "headline collage";
  } 

  @media (min-width: 1440px) {
    margin-right: -7%;
  }

  &.component__intro--reversed {
    grid-template-areas:
      "collage"
      "headline";
    @media (min-width: 768px) {
      grid-template-areas: "collage headline";
    } 
  }
}

.headline--fifth { grid-area: headline; }
.headline--sixth { grid-area: headline; }
.collage--intro  { grid-area: collage;  }