@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/proxima-nova-normal-400.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/proxima-nova-normal-600.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/proxima-nova-normal-700.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/proxima-nova-normal-900.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/proxima-nova-italic-400.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/proxima-nova-italic-600.woff2") format("woff2");
}

@font-face {
  font-family: "proxima-nova";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/proxima-nova-italic-700.woff2") format("woff2");
}

/* --- SATOSHI VARIABLE (100-900) --- */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Variable/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* --- REGULAR (400) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* --- REGULAR OBLIQUE (400 Italic) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-regularoblique.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* --- MEDIUM (500) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --- MEDIUM OBLIQUE (500 Italic) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-mediumoblique.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* --- DEMIBOLD (600) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-demibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* --- BOLD (700) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --- BOLD OBLIQUE (700 Italic) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-boldoblique.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* --- EXTRABOLD OBLIQUE (800 Italic) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-extraboldoblique.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* --- HEAVY (900) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-heavy.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* --- HEAVY OBLIQUE (900 Italic) --- */
@font-face {
  font-family: "Integral CF";
  src: url("../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-heavyoblique.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
