.container {
  max-width: var(--container-max-width);
  padding: 0 24px;

  @media (min-width: 1024px) {
    padding: 0 32px;
  }

  @media (min-width: 1288px) {
    padding: 0 38px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  & > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
}
.col {
  flex: 1 0 100%;
}
.col-sm-6 {
  @media (min-width: 768px) {
    width: 50%;
    flex: 0 0 auto;
  }
}

.col-sm-3 {
  @media (min-width: 768px) {
    width: 25%;
    flex: 0 0 auto;
  }
}
.col-sm-4 {
  @media (min-width: 768px) {
    width: 33.33%;
    flex: 0 0 auto;
  }
}
.col-md-6 {
  @media (min-width: 1024px) {
    width: 50%;
    flex: 0 0 auto;
  }
}