/* ===== BACKGROUND ===== */
.background__image,
.background__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
.background__image {
  @media (min-width: 992px) {
    display: none;
  }
}
.background__video {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}
