
.hero__container {
    position: relative;
    z-index: 1;
    background: transparent;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: 0 20px;
  
    @media (min-width: 576px) {
      flex-direction: row;
    }
  }
  
  .hero__content,
  .hero__images {
    width: 100%; 
    
    @media (min-width: 576px) {
      width: 50%;
    }
  }
  
  
  .hero__content {
    color: var(--color-white);
    padding: 20px;
  
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  
    .hero__button {
      display: inline-block;
      padding: 10px 20px;
      background-color: var( --color-red);
      color: white;
      text-decoration: none;
      border-radius: 5px;
      transition: background 0.3s ease;
  
      &:hover {
        background-color: #333;
      }
    }
  }
  
  .hero__images {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    img {
      border-radius: 5px;
    }
  }
  