.hero {
  position: relative;
  padding-top: 80px;
  padding-bottom: 81px;
  @media (min-width: 768px) {
    padding-bottom: 0px;
  }

  .hero__background__image,
  .hero__background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .hero__background__image {
    @media (min-width: 1288px) {
      display: none;
    }
  }
  .hero__background__video {
    display: none;
    @media (min-width: 1288px) {
      display: block;
    }
  }
  .hero__container {
    position: relative;
    margin: 0 auto;

    .hero__top {
      margin-top: 24px;
      margin-bottom: 40px;
      @media (min-width: 1024px) {
        margin-top: 40px;
      }

      @media (min-width: 1228px) {
        margin-top: 56px;
      }

      .hero__content {
        .hero__title {
          color: var(--color-white);
          margin-top: 60px;
          margin-bottom: 17px;
          padding-right: 14px;
          @media (min-width: 768px) {
            margin-top: 93px;
            margin-bottom: 17px;
            padding: 0;
          }

          @media (min-width: 1024px) {
            margin-top: 78px;
          }

          @media (min-width: 1288px) {
            margin-top: 183px;
          }
        }

        .hero__paragraph {
          color: var(--color-white);
          margin: 0;
          margin-bottom: 24px;
          @media (min-width: 768px) {
            margin-bottom: 40px;
            padding-right: 5px;
            font-size: 17px;
            line-height: 1.4;
          }

          @media (min-width: 1288px) {
            margin-bottom: 41px;
          }
        }
      }
    }

    .hero__bottom {
      border: 1px solid var(--color-red);
      margin: 0;
      backdrop-filter: blur(12.5px);
    }
    
    .hero__card__col:nth-child(2) {
      border-top: 1px solid var(--color-red);
      border-bottom: 1px solid var(--color-red);
      @media (min-width: 768px) {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid var(--color-red);
        border-right: 1px solid var(--color-red);
      }
    }
    .hero__card__col {
      padding: 0;
    }
  }
}
