
.hero__img__rectangular {
  width: 193px;
  height: 289px;
  margin-top: 40px;
  margin-left: 24px;
  border-radius: 4px;

  @media (min-width: 576px) {
    width: 220px;
    height: 328px;
    margin-top: 92px;
    margin-left: -8px;
    border-radius: 8px;
  }
}

.hero__img__square {
  width: 145px;
  height: 135px;
  margin-top: -106px;
  margin-left: 191px;
  border-radius: 4px;

  @media (min-width: 576px) {
    width: 164px;
    height: 153px;
    margin-top: -119px;
    margin-left: 182px;
    margin-right: 16px;
    border-radius: 8px;
  }
}
