@import 'fonts.css';

/*:root {*/
html {
  --xs: 0px;
  --sm: 768px;
  --md: 1024px;
  --lg: 1288px;
  --xl: 1440px;

  --xs-max: calc(var(--sm) - 1px);
  --sm-max: calc(var(--md) - 1px);
  --md-max: calc(var(--lg) - 1px);
  --lg-max: calc(var(--xl) - 1px);

  --container-max-width: 1300px;


  --color-white: white;
  --color-black: black;
  --color-red: #d2232a;
  --color-wine: #8B1A1A;
  --color-Navy-Blue: #110056;
  --color-Charcoal-Navy: #1d212c;
  --color-Midnight-Blue: #00004f;
  --color-Charcoal-Blue: #1d212c;
  --color-gray: #cfd6de;
  --color-Light-Gray: #e0e0e0;
  --color-Lavender-Gray: #eff1f6;
  --color-Slate-Gray: #696e7c;
  --color-dark-bluish-gray: #656a78;
  --color-Dark-Indigo: #292f49;
}

/* ===== RESET ===== */
body,
html {
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
}
