:root {
  --section-spacing-top: 90px;
  --section-spacing-bottom: 138px;

  @media (min-width: 768px) {
    --section-spacing-top: 80px;
    --section-spacing-bottom: 146px;
  }
}

.section {
  padding-top: var(--section-spacing-top);
  padding-bottom: var(--section-spacing-bottom);
  @media (min-width: 1024px) {
    padding-top: calc(var(--section-spacing-top) * 0.75);
    padding-bottom: calc(var(--section-spacing-bottom) * 0.84);
  }
  @media (min-width: 1228px) {
    padding-bottom: var(--section-spacing-bottom);
  }

  &.section--charcoal-blue {
    background-color: var(--color-Charcoal-Blue);
    padding-top: calc(var(--section-spacing-top) * 0.8);
    padding-bottom: calc(var(--section-spacing-bottom) * 0.63);
    @media (min-width: 768px) {
      padding-top: calc(var(--section-spacing-top) * 0.76);
    }

    @media (min-width: 1024px) {
      padding-top: calc(var(--section-spacing-top) * 0.6);
    }

    @media (min-width: 1288px) {
      padding-bottom: calc(var(--section-spacing-bottom) * 0.6005);
    }
  }

  &.section--white {
    padding-bottom: calc(var(--section-spacing-bottom) * 0.6);
  }

  &.section--vector {
    position: relative;
    padding-top: calc(var(--section-spacing-top) * 0.8);
    padding-bottom: calc(var(--section-spacing-bottom) * 0.866);
    @media (min-width: 768px) {
      padding-bottom: calc(var(--section-spacing-bottom) * 0.145);
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("../images/photos/vector.svg");
      background-size: 750px 400px;
      background-position: 10% -3%;
      background-repeat: no-repeat;
      opacity: 0.5;
      z-index: -1;
      @media (min-width: 768px) {
        background-size: 106% 93%;
        background-position: -64% 27%;
      }
      @media (min-width: 1024px) {
        background-size: 94% 96%;
        background-position: 62% 5%;
      }
      @media (min-width: 1288px) {
        background-size: 98% 101%;
        background-position: -150% -13%;
      }
    }
  }

  &.section--vector__reversed {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(var(--section-spacing-bottom) * 0.514);
    background-color: var(--color-Charcoal-Blue);
    @media (min-width: 768px) {
      padding-bottom: calc(var(--section-spacing-bottom) * 0.184);
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url(../images/photos/globe.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% bottom;
      height: 125%;
      width: 100%;
      top: 48%;
      z-index: 0;
      @media (min-width: 768px) {
        background-position: 50% bottom;
        height: 150%;
        width: 100%;
        top: 20%;
        left: 25%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(0deg,rgba(29, 33, 44, 1) 0%, rgba(29, 33, 44, 0) 100%);
      z-index: 1;
      pointer-events: none;
    }

    > * {
      position: relative;
      z-index: 2;
      color: #fff;
    }
  }
} 